@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';

*{
  font-family: Outfit;
}

@theme {
  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}


.course-heading-small {
  font-size: 26px;
  line-height: 36px;
}

.course-heading-large {
  font-size: 36px;
  line-height: 46px;
}

.home-heading-small {
  font-size: 36px;
  line-height: 46px;
}

.home-heading-large {
  font-size: 46px;
  line-height: 56px;
}

